`file:///...` URIs place the path in the host field

Minimal test case to reproduce:

```go
package main

import "fmt"
import "github.com/fredbi/uri"

func main() {
        // example taken from ETF RFC3986, §1.1 pp. 5
        u, err := uri.Parse("file:///etc/hosts")
        fmt.Printf("err=%v\n", err)
        fmt.Printf("u=%v\n", u)
        fmt.Printf("u.Authority().Path()=%s\n", u.Authority().Path())
        fmt.Printf("u.Authority().Host()=%s\n", u.Authority().Host())
}
```

Output: 

```
err=invalid host in URI
u=file:///etc/hosts
u.Authority().Path()=
u.Authority().Host()=/etc/hosts
```

System information:

```
$ go version
go version go1.15.6 linux/amd64
```

---

It would seem that in cases such as `file:///some/path`, that the path is referencing a location on the local system. In this case, the path string should be retrieved by `.Path()`, not by `.Host()`. This is supported by Section 1.1 of RFC3986:

>    URIs have a global scope and are interpreted consistently regardless
   of context, though the result of that interpretation may be in
   relation to the end-user's context.  For example, "http://localhost/"
   has the same interpretation for every user of that reference, even
   though the network interface corresponding to "localhost" may be
   different for each end-user: interpretation is independent of access.
   However, an action made on the basis of that reference will take
   place in relation to the end-user's context, which implies that an
   action intended to refer to a globally unique thing must use a URI
   that distinguishes that resource from all other things.  URIs that
   identify in relation to the end-user's local context should only be
   used when the context itself is a defining aspect of the resource,
   such as when an on-line help manual refers to a file on the end-
   user's file system (e.g., "file:///etc/hosts").


